<div *ngIf="topic">
    <div id="topic-title-header">
        <h2>{{ topic.title }}</h2>
        <button mat-raised-button color="primary" (click)="onRefreshMessages()">Actualiser les messages</button>
    </div>
    
    <p id="topic-infos">{{ topic | topicInfos }}</p>
    
    <ul>
        <li *ngFor="let message of topic.messages">
            <div class="msgContent">
                <h3 *ngIf="editedMessage !== message">{{ message | messageInfos }}</h3>
        
                <p id={{message.id}} *ngIf="editedMessage !== message">{{ getMessageContentWithBBCode(message) }}</p>

                <mat-form-field *ngIf="editedMessage === message && connectedUser">
                    <mat-label>Titre</mat-label>
                    <input type="text" matInput required [formControl]="editMessageControl">
                    <mat-error *ngIf="editMessageControl.invalid"> fffff </mat-error>
                </mat-form-field>
            </div>
            <div class="action-buttons-container" *ngIf="connectedUser">
                <button class="msgManagementButtons" mat-raised-button color="primary" *ngIf="editedMessage !== message && userIsAuthor(message)" (click)="onChangeEditedMessage(message)">Modifier</button>
                <button class="msgManagementButtons" mat-raised-button color="accent" *ngIf="editedMessage === message" (click)="onEditMessage(message)">Enregistrer</button>

                <button class="msgManagementButtons" mat-raised-button color="warn" *ngIf="userIsAdmin()" (click)="onDeleteMessage(message)">Supprimer</button>
            </div>
        </li>
    </ul>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="connectedUser">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea type="text" matInput cdkTextareaAutosize required formControlName="content"></textarea>
        <mat-error *ngIf="true">{{ getErrorMessage('content') }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" id="message-form-button">Répondre au sujet</button>
</form>